$main: #252529;
$secondary: #8b8b9f;
$highlight:	#73e298;
$white: #FFFFFF;

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

#top_header {
	padding: 1.5em 0;
	.logo {
		float: left;
		text-transform: uppercase;
		font-size: 1.15em;
		font-weight: 700;
		span {
			font-weight: 300;
			color: $highlight;
		}
	}
	#main_nav {
		float: right;
		font-size: .9em;
		padding-top: 1em;
		a {
			color: $secondary;
			text-decoration: none;
			margin-left: 1em;
		}
	}
}

#banner {
	background: url(../images/banner_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding: 6.5em 0;
	#banner_content_wrapper {
		width: 900px;
		max-width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center
	}
	#poster {
		width: 275px;
		position: relative;
		float: left;
		.featured_image {
			width: 100%;
			max-width: 100%;
			border-radius: .5em;
			-webkit-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
			-moz-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
		  box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
		}
		.play_button {
			position: absolute;
			width: 80px;
			left: 50%;
			top: 50%;
			margin: -40px 0 0 -40px;
		}
	}
	#content {
		float: left;
		width: 500px;
		margin-left: 100px;
		.title {
			display: inline;
			font-size: 1.75em;
			color: $white;
		}
		.ratings {
			display: inline;
			margin-left: 1em;
			i {
				color: $highlight;
				font-size: 1.35em;
				margin: 0 .15em;
			}
			.inactive {
				color: #48494d;
			}
		}
		.description {
			color: #bbbebf;
			font-size: 1em;
			line-height: 2;
		}
		.info {
			color: $white;
			font-size: .8em;
			font-weight: 700;
			margin-top: 3em;
			span {
				margin: 0 .5em;
			}
		}
	}
}

#top_movies, #top_shows {
	padding: 5em 0;
	header {
		padding: 0 0 1.5em 0;
		h2, .view_more {
			display: inline;
		}
		h2 {
			font-size: 1.75em;
		}
		.view_more {
			float: right;
			font-size: .8em;
			margin: .75em 3.5% 0 0;
		}
	}
}

#top_movies {
	border-bottom: 1px solid #d4d4d4;
}

.row {
	width: 100%;
	.post {
		width: 14%;
		float: left;
		margin-right: 2.5%;
		img {
			width: 100%;
			max-width: 100%;
			border-radius: .5em;
		}
		.title {
			font-size: 1.25em;
			margin: 1em 0 0 0;
			color: $main;
		}
		.post_info {
			font-size: .75em;
			color: $secondary;
			margin: 0.5em 0;
		}
	}
}

#newsletter {
	padding: 5em 0;
	text-align: center;
	background: #2a2a2e;
	.newsletter_inner {
		width: 600px;
		margin: 0 auto;
	}
	h2 {
		font-size: 1.75em;
		color: $white;
	}
	.sign_up_form {
		margin-top: 3em;
		input[type="text"], input[type="email"] {
			width: 48%;
			margin: 0 .5%;
			height: 3.25em;
			border: none;
			outline: none;
			border-radius: .3em;
			background: #404043;
			padding: .5em 1.25em;
			font-size: .8em;
			color: $white;
		}
		.button {
			border: none;
			outline: none;
			padding: 1em 4.5em;
			border-radius: 2em;
			background: $highlight;
			color: $white;
			font-weight: 700;
			font-size: .9em;
			margin-top: 3em;
		}
	}
}

#main_footer {
	padding: 2.5em 0;
	text-align: center;
	.logo {
		text-transform: uppercase;
		font-size: 1.15em;
		font-weight: 700;
		span {
			font-weight: 300;
			color: $highlight;
		}
	}
	.copyright {
		color: $secondary;
		font-size: .75em;
		margin: 0;
	}
	.links {
		display: inline;
		a {
			color: $secondary;
			font-size: .75em;
			text-decoration: none;
			margin: 0 .5em;
			&:hover {
				color: $highlight;
			}
		}
	}
}









